#content{
    max-width: 1600px;
    margin: 0 auto;
}

/* Header and Navagation */
header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(13, 19, 30, 0.7);
}

nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #D4AC0D;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #594AE3;
    color: #D4AC0D;
}

.logo{
    width: 200px;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* footer */
footer{
    background-color: #594AE3;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3{
    color: white;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer a{
    color: #D4AC0D;
    text-decoration: none;
}

footer a:hover{
    color: white;
}

footer .social img{
    padding-top: 15px;
}


/* main section */

.home-title{
    color: #594AE3;
    font-family: 'Montserrat', sans-serif;;
    font-size: 3em;
    margin-top: 10px;
}

#hero-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    background-color: #242325;
}

body{
    background-color: #242325;
    font-family: sans-serif; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h4{
    color: white;
}

main section img{
    box-sizing: border-box;
}

.logo-img-big{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%
}

/* Video Journal Page */
#videos{
    text-align: center;
    border: 3px
}

.video-journal{
    text-align: center;
    border: 3px
}

#video-journal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

.video-journal-title{
    color: #594AE3;
    font-size: 100px;
}

.year{
    color: #D4AC0D;
    font-size: 200px;
}

h2{
    color:#594AE3;
}
p{
    color: white;
}

/* Piano Video Page */
.piano-title{
    color: #594AE3;
    font-size: 100px;
}

.music{
    color: #D4AC0D;
    font-size: 200px;
}

#piano-main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;   
}

.piano-videos{
    text-align: center;
    border: 3px
}


/* About Me Page */
#about-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.question{
    color: #D4AC0D;
    font-size: 50px;
}

.answer{
    color: white;
    font-size: 25px;
}

.about-me-title{
    color: #594AE3;
    font-size: 100px;
}

/* Overlay Home Page Image */
.content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #594AE3;
  }

  .content:hover .overlay {
    opacity: 1;
  }

  .hero-overlay-text {
    color: #D4AC0D;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* contact me */
.contactinfo{
    color: #D4AC0D;
}

.email{
    color: #D4AC0D;
}
.email:hover{
    color: #594AE3;
}

.text{
    color: #D4AC0D;
}
.text:hover{
    color: #594AE3;
}

.call{
    color: #D4AC0D;
}
.call:hover{
    color: #594AE3;
}

#contact-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* Favorite Music */
#music-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.music-link{
    color:#D4AC0D
}
.music-link:hover{
    color: #594AE3;
}