.cursor {
    animation: blink 0.8s infinite;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

/* Media query for smaller screens (e.g., mobile devices) */
@media (max-width: 600px) {
    #quote-container {
        padding-right: 100px;
    }
  }
  

#quote-container{
    text-align: center;
    background-color: #594AE3;
    margin-left: 400px;
    margin-right: 400px;
}

#GC{
    text-align: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

.mobileShow{
    text-align: center;
    padding: 10%;
    color: yellow;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.608);
    font-size: 25px;
}

.spider-man-main{
    font-family: 'Spiderman-Homecoming', 'Monsterrat','sans-serif';
    color: blue;
    text-shadow: 2px 2px red;
    font-size: 3em;
    padding: 10%;
}

.spider-man{
    font-family: 'Spiderman-Homecoming', 'Monsterrat','sans-serif';
}

.countup {
    text-align: center;
    margin-bottom: 20px;
}

.countup .timeel {
    display: inline-block;
    padding: 10px;
    background: gray;
    margin: 0;
    color: white;
    min-width: 2.6rem;
    margin-left: 13px;
    border-radius: 10px 0 0 10px;
}

.countup span[class*="timeRef"] {
    border-radius: 0 10px 10px 0;
    margin-left: 0;
    background: #594AE3;
    color: #D4AC0D;
}

.live-title {
    color: #D4AC0D;
    text-align: center;
    padding-top: 10%;
}

#NYE{
    text-align: center;
    font-size: 80px;
    margin-top: 0px;
    font-family: 'Monsterrat','sans-serif';
    color: white;
    background-color:#2196F3;
}

.NYE-title{
    color: gold;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    padding-left: 10%;
    padding-right: 10%;
}

.NYE-msg{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}

/* Header and Navagation */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgba(13, 19, 30, 0.7);
}

/* Add an active class to highlight the current page */
.active {
    background-color:#594AE3;
    color: white;
  }

/* Dropdown container - needed to position the dropdown content */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Style the dropdown button to fit inside the topnav */
  .dropdown .dropbtn {
    font-size: 22px;
    border: none;
    outline: none;
    color:#D4AC0D;
    padding: 15px;
    background-color: inherit;
    font-family: inherit;
    /* margin: 0; */
  }
  
  /* Style the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#242325;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Style the links inside the dropdown */
  .dropdown-content a {
    float: none;
    color:#D4AC0D;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  /* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
    background-color:#594AE3;
    color:rgb(100, 4, 4);
  }
  
  /* Show the dropdown menu when the user moves the mouse over the dropdown button */
  .dropdown:hover .dropdown-content {
    display: block;
    padding-right: 15px;
  }

  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
  /* @media screen and (max-width: 600px) {
    .nav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .nav a.icon {
      float: right;
      display: block;
    }
  } */

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .nav.responsive .dropdown {float: none;}
    .nav.responsive .dropdown-content {position: relative;}
    .nav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #D4AC0D;
    text-decoration: none;
    padding: 15px;
}

nav a:hover {
    background-color: #594AE3;
    color: rgb(100, 4, 4);
    text-decoration: underline;
}

.logo {
    width: 200px;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

/* footer */
footer {
    background-color: #594AE3; 
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: white;
}

footer h3 a:hover {
    text-decoration: underline;
}

footer a {
    color: #D4AC0D;
    text-decoration: none;
}

footer a:hover {
    color: white
}

footer .social img {
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* main section */

.home-title {
    color: #594AE3; 
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
}

#hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 20px;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #242325;
}

body {
    background-color: #242325;
    font-family: sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.dark-mode{
    background-color: #242325;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

h4 {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

main section img {
    box-sizing: border-box;
}

.logo-img-big {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1; */
}

.snow-background{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
}

.author {
    font-style: italic;
    text-align: center;
}

.quote {
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}

/* Video Journal Page */
#videos {
    text-align: center;
    border: 3px
}

.video-journal {
    text-align: center;
    border: 3px
}

#star_wars{
    font-family:'Star Jedi Hollow', 'Monsterrat','sans-serif' ;
    font-size: 50px;
}

#video-journal-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5%;
}

.video-journal-title {
    color: #594AE3;
    font-size: 100px;
}

.year-links {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 50px;
    gap: 30px;
}

#year-link {
    color: #D4AC0D; 
    font-size: 25px;
}

#year-link:hover {
    color: #594AE3; 
}

#top-video {
    color: #D4AC0D; 
}

#top-video:hover {
    color: #594AE3; 
}

.year {
    color: #D4AC0D; 
    font-size: 200px;
    margin-bottom: 10px;
}

h2 {
    color:#594AE3; 
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

p {
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.vlog {
    color: red;
}

.video-journal-intro {
    color: #594AE3; 
    padding-top: 10%;
}

.fat-cats {
    color: #594AE3;
    font-size: 50px;
}

/* videos page */

.video-main-title{
    color: #594AE3;
}

.video-section{
    color: #D4AC0D;
    font-size: 80px;
    padding-top: 10%;
}
.video-title{
    color: #594AE3; 
    padding-top: 8%;
    font-size: 50px;
}

.video-links{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 50px;
    gap: 30px;
}

/* .video-grid{
    padding: 20%;
    text-align: center;
}

.BGTV-videos, .animation-videos, .fun-videos{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10%;
} */

/* Piano Video Page */
.piano-title {
    color: #594AE3; 
    font-size: 100px;
}

.spider-man{
    font-family: 'Spiderman-Homecoming', 'Monsterrat','sans-serif';
    color: yellow;
    text-shadow: 2px 2px red;
    font-size: 50px;
}

.peanuts {
    color: #594AE3;
    font-size: 50px;
    font-family: 'peanuts', 'Montserrat', 'sans-serif';
}

.grim-grinning-ghosts {
    font-size: 100px;
    color: #594AE3;
    font-family:'Ravenscroft', 'Monsterrat', 'sans-serif';
}

.hocus{
    font-size: 60px;
    color: #594AE3;
    font-family: 'waltograph','Monsterrat', 'sans-serif';
    padding-left: 30%;
    padding-right: 30%;
}

.truman {
    color: #594AE3;
    font-size: 80px;
    font-family: 'Trumania EEN', 'Montserrat', 'sans-serif';
}

.music {
    color: #D4AC0D;
    font-size: 200px;
}

#piano-main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5%;
}

.piano-videos {
    text-align: center;
    border: 3px
}

.batman1966 {
    color: #594AE3;
    font-size: 80px;
    font-family: 'POW_', 'Montserrat', 'sans-serif';
}

.skyfall {
    color: #594AE3;
    font-size: 100px;
    font-family: '007 Goldeneye', 'Montserrat', 'sans-serif';
}

.shadows-lie{
    color: #594AE3;
    font-size: 70px;
    font-family: 'Ringbearer', 'Montserrat', 'sans-serif';
}

.gollum{
    color: #594AE3;
    font-size: 60px;
    font-family: 'Ringbearer', 'Montserrat', 'sans-serif';
}

.batmandogcars {
    color: #594AE3;
    font-size: 50px;
}

/* About Me Page */
#about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5%;
}

.question {
    color: #D4AC0D; 
    font-size: 50px;
}

.answer {
    color: white;
    font-size: 25px;
    padding-left: 10%;
    padding-right: 10%;
}

.about-me-title {
    color: #594AE3;
    font-size: 100px;
}

/* Overlay Home Page Image */
.content {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #594ae3cb;
}

.content:hover .overlay {
    opacity: 1;
}

.hero-overlay-text {
    color: #D4AC0D;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* contact me */
.contactinfo {
    color: #D4AC0D;
}

.email {
    color: #D4AC0D;
}

.email:hover {
    color: #594AE3;
}

.text {
    color: #D4AC0D;
}

.text:hover {
    color: #594AE3;
}

.call {
    color: #D4AC0D;
}

.call:hover {
    color: #594AE3;
}

#contact-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 20px;
}

/* Favorite Music */
#music-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 5%;
}

.music-link {
    color: #D4AC0D
}

.music-link:hover {
    color: #594AE3;

}

/* coming-soon */
#coming-soon {
    color: #594AE3
}

/* Mission-audio-files */

#mission-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 5%;
}

.mission-title-main {
    color: #594AE3;
    font-size: 90px;
}

#Mission-audio-files {
    color: #594AE3;
    /* Normal */
}

.mission-area {
    color: #594AE3;
    font-size: 80px;
}

/* Paintings */
.paintings-title {
    color: #594AE3;
    font-size: 80px;
}

.tardis{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hogwarts {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.duck {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perry {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.t-rex {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Sauraun {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perry-potter{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.elephant{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.death-star{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Recipies */
.recipies-title {
    color: #594AE3;
    font-size: 100px;
}

.recipie-links {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    padding: 50px;
    gap: 30px;
}

#recipie-link {
    color: #D4AC0D; 
    font-size: 25px;
}

#recipie-link:hover {
    color: #594AE3; 
}

#top-rec {
    color: #D4AC0D;
    font-size: 25px;
}

#top-rec:hover {
    color: #594AE3;
}

.celestial-cookie-button {
    background-color: rgb(72, 71, 71);
    cursor: pointer;
    color: #D4AC0D;
    font-size: large;
    font-family: 'Montserrat', 'sans-serif';
}

.ingred-title {
    color: #D4AC0D;
    font-size: 30px;
    padding-right: 70%;
}

.ingredients {
    color: white;
    text-align: left;
}

.cinnamon-roll {
    color: #594AE3;
    text-align: center;
    font-size: 50px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.cinnamon {
    color: #D4AC0D;
    text-align: left;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: bold;
    padding-top: 2%;
}

.directions {
    text-align: left;
    color: white;
}

.directions-title {
    color: #D4AC0D;
    text-align: left;
    padding-left: 10%;
    padding-top: 5%;
}

.download-link{
    color: #594AE3;
    text-decoration: none;
}

.download-link:hover{
    color: #D4AC0D;
    text-decoration: underline;
}


/* When the screen is less than 600 pixels wide */
@media screen and (max-width: 600px) {
    /* Adjustments for mobile devices */

    /* Update the navigation */
    header {
        grid-template-columns: auto;
    }

    /* Hide the dropdown links by default */
    .dropdown-content {
        display: none;
    }

    /* Show the dropdown content when the user clicks on the dropdown button */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Hide the links in the topnav, except for the first one */
    /* nav a:not(:first-child) {
        display: none;
    } */

    /* Show the link that opens and closes the topnav */
    nav a.icon {
        display: block;
    }

    /* Adjust the main section */
    .home-title {
        font-size: 3em;
    }

    /* Adjust the logo image */
    .logo {
        width: 150px;
    }

    /* Adjust the footer */
    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .social img {
        margin: 10px;
    }

    /* Adjust the main section images */
    main section img {
        width: 100%;
    }

    /* Adjust the quote and author sections */
    .quote,
    .author {
        padding: 10px;
    }

    /* Adjust the video journal page */
    .year-links {
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
        gap: 10px;
    }

    .year,
    .video-title {
        font-size: 30px;
    }

    #video-journal-img {
        width: 40%;
        padding-top: 2%;
    }

    .video-journal-intro {
        padding-top: 5%;
    }

    /* Adjust the videos page */
    .video-links {
        display: grid;
        grid-template-columns: auto;
        padding: 20px;
        gap: 10px;
    }

    .video-main-title {
        font-size: 50px;
    }

    .video-title {
        font-size: 30px;
    }

    /* Adjust the piano video page */
    .piano-title {
        font-size: 50px;
    }

    #piano-main-img {
        width: 40%;
        padding-top: 2%;
    }

    /* Adjust the about me page */
    #about-img {
        width: 50%;
        padding-top: 5%;
    }
}
